.container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    background-color: var(--theme-menu-background-color);
    color: #8493a5;
    transition: width 0.3s;
  }
  
  .top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .logo {
    display: block;
    color: #8493a5;
    font-size: 20px;
    font-weight: bold;
  }
  
  .bars {
    display: none;
    cursor: pointer;
  }
  
  .link {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #8493a5;
  }
  
  .link_text {
    margin-left: 10px;
  }
  
  .link.active {
    color: #fff;
    background-color: #8493a5;
  }
  
  .sub-menu {
    margin-left: 20px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 50px;
    }
    
    .logo {
      display: none;
    }
    
    .bars {
      display: block;
      margin-left: 10px;
    }
    
    .link_text {
      display: none;
    }
  }
  