@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.sidebar {
  width: 200px;
  background-color: var(--theme-menu-background-color);
  color: #8493a5;
  transition: width 0.3s;
}

 /*------ add hear  constant side bar ----*/
.bars {
  display: none;
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #8493a5;
}


@media screen and (max-width: 700px) {

.bars {
    display: block;
    margin-left: 10px;
  }
}